:root {
    --N900: #163A34;
    --N800: #395852;
    --N600: #395852;
    --N300: #D0DCD9;
    --N200: #E0E6E3;
    --N100: #F6F5F1;
    --back: #faf9f9;
    --N0: #fff;
    --org: #FE9F6B;
    --teal: #49AC9B;
    --indigo: #697DDB;
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--back);
}

/* HEADER */

header {
    border-bottom: 2px solid var(--N200);

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}

ul {
    display: flex;
    gap: 40px;
}

a {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.3px;
    color: var(--N900);
}

.under-line {
    position: relative;
}

.under-line::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background-color: var(--org);
    width: 100%;
    height: 3px;
    border-radius: 4px;
}

.btn {
    font-family: "Nunito", sans-serif;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    text-align: center;
    background-color: var(--N900);
    color: var(--N0);
    padding: 12px 16px;
    border-radius: 10px;
    margin: 20px 0;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;

    padding: 12px 11px;
    background-color: var(--N200);
    border-radius: 4px;
}

.burger span {
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--N900);
}

/* section mission */

.mission {
    margin-top: 80px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}

.mission-text {
    width: 510px;
}

.mission-text span {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: var(--N900);
    padding: 2px 6px;
    background-color: var(--org);
    border-radius: 6px;
}

.mission-text h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--N900);
    padding: 24px 23px 24px 0;
}

.mission-text-p {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--N800);
}

.mission-img {
    width: 618px;
}

.mission-img img {
    width: 100%;
    border-radius: 20px;
}

/* section exist */

.exist {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding: 96px 0;
}

.exist h2 {
    width: 372px;
    height: 58px;

    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--N900);
}

.mini-sections {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.exist-info {
    display: flex;
    gap: 20px;
}

.exist-text {
    width: 704px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.exist-text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
    color: var(--N900);
}

.exist-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--N800);
}

/* section food */

.food h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--N900);
}

.food-text h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--N900);
}

.food-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--N800);
}

.food {
    display: flex;
    gap: 64px;
    margin-top: 96px;
    margin-bottom: 96px;
}

.food-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.food-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.food-mini-section {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 752px;
}

/* section plate */

.plate-text h3 {
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--N900);
}

.plate-info p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--N800);
}

.plate-info ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;

    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--N800);

    display: flex;
    flex-direction: column;
    gap: 0;
}

.plate-info li {
    gap: 0;
}

.plate-img {
    max-width: 744px;
}

.plate-img img {
    width: 100%;
    border-radius: 20px;
}

.plate {
    display: flex;
    gap: 64px;
    padding-top: 96PX;
    padding-bottom: 96PX;
    align-items: center;
}

.plate-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    max-width: 376px;
}

/* section cook */

.cook {
    margin-top: 96px;
    border-radius: 16px;
    background-color: #E9EDE8;
    position: relative;
}

.knife::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
}

.cook-info {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.cook-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cook-text h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;
    color: var(--N900);
}

.cook-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--N800);
}

.btn {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    padding: 16px 24px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--N900);
    color: var(--N0);
}

/* Section ready */

.ready {
    background-color: var(--N200);
    border-radius: 16px;
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.fork {
    position: absolute;
    top: 31px;
    left: -90px;
    z-index: -1;
}

.knife {
    position: absolute;
    top: 31px;
    right: -80px;
    z-index: -1;
}

.ready-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ready-text h3 {
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;
    color: var(--N900);
}

.ready-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--N800);
    margin-bottom: 40px;
}

.btn-ready {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    padding: 16px 24px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--N900);
    color: var(--N0);
}

/* Section bottom */

.bottom {
    display: flex;
    justify-content: space-between;
}

.bottom span {
    margin: 40px 0;
}

.icons {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    width: 114px;
    height: 22px;
}

.icons img {
    width: 22px;
    height: 22px;
}

@media (min-width:769px) {
    .mobile {
        display: none;
    }
}

/* TABLET */
@media(max-width:768px) {

    /* header */

    .header {
        position: relative;
        padding: 32px 32px 16px 32px;
    }

    .logo {
        height: 40px;
    }



    .burger {
        display: flex;
    }

    nav,
    .btn {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        position: absolute;
        top: 70px;
        right: 10px;
        background-color: white;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
    }


    nav.active,
    .btn.active {
        display: flex;

    }

    /* section mission */

    .mission {
        flex-wrap: wrap;
        margin-top: 64px;
        margin-bottom: 80px;

        display: flex;
        justify-content: center;
    }

    .mission-text,
    .mission-img {
        width: 704px;
    }

    /* section exist */

    .exist {
        display: flex;
        flex-wrap: wrap;

        gap: 40px;
        padding: 80px 0;
    }

    .mini-sections {
        gap: 32px;
    }

    .exist h2,
    .mini-sections {
        margin: auto;
        width: 704px;
    }

    /* section food */

    .food {
        gap: 40px;
        margin-top: 80px;
        margin-bottom: 80px;
        flex-wrap: wrap;
    }

    .food-mini-section {
        gap: 32px;
    }

    /* section plate */

    .plate {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
    }


    /* Section ready */

    .ready {
        padding: 80px 0;
    }

    .ready-text h3 {
        font-weight: 800;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -2px;
        text-align: center;
        color: var(--N900);
    }


    .mission,
    .exist,
    .food,
    .plate,
    .ready,
    .bottom {
        max-width: 704px;
    }
}

/* MOBILE */
@media(max-width:375px) {

    /* header */

    .header {
        padding: 16px;
    }

    .logo {
        height: 32px;
    }

    /* section mission */

    .mission {
        margin-top: 48px;
        margin-bottom: 64px;
    }

    .mission-text h2 {
        font-size: 40px;
    }

    .mission-text,
    .mission-img {
        width: 343px;
    }

    /* section exist */

    .exist h2 {
        width: 343px;
        height: 48px;
        font-size: 40px;
    }

    .exist {
        padding: 48px 0;
        flex-wrap: wrap;
    }

    .exist h2,
    .mini-sections {
        margin: auto;
        width: 343px;
    }

    .mini-sections {
        gap: 24px;
    }

    /* section food */

    .food h2 {
        font-size: 40px;
    }

    .food {
        gap: 40px;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .food-mini-section {
        gap: 24px;
    }

    /* section plate */

    .plate-text h3 {
        font-size: 40px;
    }

    .plate {
        gap: 32px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    /* section ready */

    .ready {
        padding: 48px 0;
    }

    .ready-text h3 {
        font-weight: 800;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -2px;
        text-align: center;
        color: var(--N900);
    }

    .ready-text p {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.4px;
        text-align: center;
        color: var(--N800);
        margin-bottom: 40px;
    }

    /* Section bottom */

    .bottom {
        height: 122px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .bottom span,
    .icons {
        margin: 0;
    }



    .mission,
    .exist,
    .food,
    .plate,
    .ready,
    .bottom {
        max-width: 343px;
    }
}