:root {
    --N900: #163A34;
    --N800: #395852;
    --N600: #395852;
    --N300: #D0DCD9;
    --N200: #E0E6E3;
    --N100: #F6F5F1;
    --back: #faf9f9;
    --N0: #fff;
    --org: #FE9F6B;
    --teal: #49AC9B;
    --indigo: #697DDB;
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/Inter-VariableFont_opsz.wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}


body {
    font-family: "Nunito", sans-serif;
    background-color: var(--back);
}

/* HEADER */

header {
    border-bottom: 2px solid var(--N200);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 40px;
}

a {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.3px;
    color: var(--N900);
}

.under-line {
    position: relative;
}

.under-line::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background-color: var(--org);
    width: 100%;
    height: 3px;
    border-radius: 4px;
}

.btn {
    font-family: "Nunito", sans-serif;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    text-align: center;
    background-color: var(--N900);
    color: var(--N0);
    padding: 12px 16px;
    border-radius: 10px;
    margin: 20px 0;
}

.burger {
    display: none;
    padding: 12px 11px;
    background-color: var(--N200);
    border-radius: 4px;
}

/* section mission */

.mission {
    margin-top: 80px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}

.mission-text {
    width: 510px;
}

.mission-text span {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: var(--N900);
    padding: 2px 6px;
    background-color: var(--org);
    border-radius: 6px;
}

.mission-text h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--N900);
    padding: 24px 23px 24px 0;
}

.mission-text-p {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--N800);
}

.mission-img {
    width: 618px;
}

.mission-img img {
    width: 100%;
    border-radius: 20px;
}

/* section exist */

.exist {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding: 96px 0;
}

.exist h2 {
    width: 372px;
    height: 58px;

    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
    color: var(--N900);
}

.mini-sections {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.exist-info {
    display: flex;
    gap: 20px;
}

.exist-text {
    width: 704px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.exist-text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
    color: var(--N900);
}

.exist-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.4px;
    color: var(--N800);
}















/* TABLET */
@media(max-width:768px) {
    body {
        background-color: grey;
    }

    /* header */

    .header {
        padding: 32px 32px 16px 32px;
    }

    .logo {
        height: 40px;
    }

    .header ul,
    .header .btn {
        display: none;
    }

    .burger {
        display: flex;
    }

    /* section mission */

    .mission {
        flex-wrap: wrap;
        margin-top: 64px;
        margin-bottom: 80px;

        display: flex;
        justify-content: center;
    }

    .mission-text,
    .mission-img {
        width: 704px;
    }

    /* section exist */

    .exist {
        display: flex;
        flex-wrap: wrap;

        gap: 40px;
        padding: 80px 0;
    }

    .mini-sections {
        gap: 32px;
    }

    .exist h2,
    .mini-sections {
        margin: auto;
        width: 704px;
    }
}

/* MOBILE */
@media(max-width:375px) {

    body {
        background-color: green;
    }

    /* header */

    .header {
        padding: 16px;
    }

    .logo {
        height: 32px;
    }

    /* section mission */

    .mission {
        margin-top: 48px;
        margin-bottom: 64px;
    }

    .mission-text h2 {
        font-size: 40px;
    }

    .mission-text,
    .mission-img {
        width: 343px;
    }

    /* section exist */

    .exist h2 {
        width: 343px;
        height: 48px;
        font-size: 40px;
    }

    .exist {
        padding: 48px 0;
        flex-wrap: nowrap;
    }

    .exist h2,
    .mini-sections {
        margin: auto;
        width: 343px;
    }

    .mini-sections {
        gap: 24px;
    }

}