* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* sizes */

.desktop-header {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.desktop {
    max-width: 1192px;
    width: 100%;
    margin: auto;
}

.tablet {
    max-width: 704px;
    width: 100%;
    margin: auto;
}

.mobile {
    max-width: 343px;
    width: 100%;
    margin: auto;
}