* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* sizes */

.container {
    max-width: 1192px;
    width: 100%;
    margin: auto;
}

.mobile {
    max-width: 343px;
    width: 100%;
    margin: auto;
}